
:root{
    --primaryColor: #3fd0d4;
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 4px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --gradien1:linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
    --error:hsl(0,93%,68%);
}
/*globales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li{
  list-style: none; 
  list-style: none;
}
a{
  text-decoration: none;
}
html {
    min-height: 100vh;
}

body{
    font-family: sans-serif;
    line-height: 1.4;
    font-size: 1rem;  
    position: relative;
    overflow:auto;
    background: var(--mainWhite);

}
.container-principal{
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    min-height: 100vh;
  }


/*scroll*/
/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.container-principal::-webkit-scrollbar {
  -webkit-appearance: none;
}
.container-principal::-webkit-scrollbar:vertical {
  width:10px;
}
.container-principal::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 
.container-principal::-webkit-scrollbar:horizontal {
  height: 10px;
}
.container-principal::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.container-principal::-webkit-scrollbar-track {
  border-radius: 10px;  
}
/*Estilos estándar experimentales (Principalmente Firefox)*/
body{
scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
scrollbar-width: thin;
}

.tl-edges{
  overflow:hidden;
}