.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    background-color: rgba(rgb(245, 246, 250));
    background:white;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}
.nav-header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
  }
  .logo-btn {
    background: transparent;
    border: none;
    outline: none;
  }
  .logo-btn:hover {
    cursor: pointer;
  }
  .logo-icon {
    font-size: 1.5rem;
  }
  .logo{
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .nav-links {
    width: 100%;
    list-style-type: none;
    transition: var(--mainTransition);
    height: 0;
    overflow: hidden;
    transition: 300ms ease box-shadow;
  }
  .nav-links a:hover{
   box-shadow: 0 -0.3rem 0 inset var(--clr-primary-2);
   background-color: var(--mainWhite);
  }
  .show-nav {
    height: 900px;
    transition-delay: all 2s ease;
    background: white;
    transition: var(--mainTransition);
  }
  .nav-links a {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1em;
  }
  .nav-links a:hover {
    color: var(--mainBlack);
  }
  .nav-social-links {
    display: none;
  }
  @media screen and (max-width: 576px) {
    .show-nav{
      height: 550px;
    }
  }
  @media screen and (min-width: 320px) and (max-width:991px){
    .nav-links{
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: var(--mainTransition);
    }
    li{
      padding: 1rem;
    }
    li:nth-child(1){
      padding-top: 8rem;
    }
    .container-links{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .linksvacio{
      height: 50px;
    }
    .show-nav{
      height: 900px;
      transition: var(--mainTransition);
    }
  }
  /*medida alta*/
  @media screen and (min-width: 991px) {
    .logo-btn {
      display: none;
    }
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center; 
      align-content: center;
    }
    .nav-links {
      height: auto;
      width: 450px;
      display: flex;
      justify-content: space-between;
    }
    .nav-links li{
      display: flex;
      justify-content: space-between;
    }
    .nav-social-links {
      display: flex;
      line-height: 0;
    }
    .nav-social-links a {
      margin: 0 0.5rem;
      font-size: 1.2rem;
    }
    .nav-social-links a:hover {
      color: var(--mainBlack);
      transform: translateY(-5px);
    }
  }