.project{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.project h1{
  text-align: center;
}
.card-center{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin: 1rem;
}
.card{
    box-shadow: var(--darkShadow);
}
.card:hover{
    transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transform: scale(1.01);
}
.imagen-container {
    position: relative;
    background: var(--primaryColor);
    transition: var(--mainTransition);
  }
  .imagen{
    
    transition: var(--mainTransition);
    display: block;
    width: 100%;
    height: auto;
  }
  .imagen-container:hover .imagen{
      opacity: 0.7;
  }
  .container-title{
    width: 99.8%;
    position: absolute;
    opacity: 0;
    top: 85%;
    left: 50%;
    height: 40px ;
    transform: translate(-50%, -50%);
    letter-spacing: var(--mainSpacing);
    text-align: center;
    display: inline-block;
    background: #e1e3f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-projects{
    position: relative;
    font-size: 1.3rem;
    margin: 0;
    transition: var(--mainTransition);
    padding: 0;
  }

/*enlace para los detalles*/
.link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    border: 2px solid var(--mainWhite);
    padding: 0.9rem ;
    display: inline-block;
    transition: var(--mainTransition);
    transition-delay: all 2s ease;
    cursor: pointer;
    border-radius: 25px;
    color: black;
}
.link:hover {
    background: var(--mainWhite);
    color: var(--primaryColor);
  }
  .imagen-container:hover .link{
    opacity: 1;
  }
  .imagen-container:hover .container-title{
    opacity: 0.7;
    transition: all 2s ease;
  }
.footer-card{
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.title{
    font-size: 1.5rem;
}
.info-card{
width: 100%;
}
.info-card ul{
    display: flex;
    justify-content: space-evenly; 
}
.info-card ul li a{
    color: black;
    font-size: 1rem;
}
@media screen and (min-width:768px){
  .container-title{
    height: 60px;
  }
  .title-projects{
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 992px){
    .card-center{
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-template-rows: 1fr 1fr;
    }
    .imagen{
      height: 360px;
      object-fit: cover;
      object-position: center;
    }
}