.section-principal{
 margin:2rem ;
}
.card{
    display: grid;
    margin-top:2rem;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;    
    place-items: center;
    place-content: center;
}
.container{
    display: flex;
    height:170px;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
    border-radius: 50%;
    border: 5px solid #C3C3C3;
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 60px 0px ;
}
.container:hover{
    border-color: var(--primaryColor);
    box-shadow: var(--darkShadow);
    opacity: 0.9;
}
/*efecto*/
.container-icon:hover{
    position: relative;
    transition: var(--mainTransition);
  }
.container-icon{
    border-radius: 50%;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
}
.container-icon svg{
      height: 100px !important;
      width: 100px;
}
.container-icon svg path{
height: 100px !important;
width: 100px !important;
}
.name-skill{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*media query*/
/*
@media screen and (min-width:576px){
    .card{
        grid-template-columns: repeat(2, 250px);
    }

}

@media screen and (min-width: 768px){
    .card{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 992px){
    .card{
        grid-template-columns: repeat(4, 1fr);
    }
}
*/
/*
@media screen and (min-width:425px) and (max-width:768px){
    .card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .container{
        width: 85%;
    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    .card{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-row-gap:1rem;
    }
    .container{
        width: 90%;
    }
}
@media screen and (min-width: 992px){
    .card{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .container{
        width: 100%;
    }
}
@media screen and (min-width: 1344px){
    article:nth-child(14){
        grid-column: 2/4;
        width: 50%;
}

    article:nth-child(15){
        grid-column: 4/6;
        width: 50%;
}
        article:nth-child(16){
            grid-column:6/7;    
    }
}*/