
.card{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;    
}
.container{
    display: flex;
    height: 220px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    border: 5px solid #C3C3C3;
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 60px 0px ;
}
.container:hover{
    border-color: var(--primaryColor);
    box-shadow: var(--darkShadow);
    opacity: 0.9;
}
/*efecto*/
.container-icon:hover{
    position: relative;
    transition: var(--mainTransition);
  }

.container-icon{
    border-radius: 50%;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 200px;
}
.container-icon svg{
      height: 100px !important;
      width: 100px;
}
.container-icon svg path{
height: 100px !important;
width: 100px !important;
}

/*media query*/

@media screen and (min-width:576px) and (max-width:768px){
    .card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}
/*
@media screen and (min-width:768px){
    .card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap:2rem;
    }
}*/

@media screen and (min-width:768px) and (max-width: 991px) {
    .card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4);
        grid-row-gap:1rem;
    }

}

@media screen and (min-width: 992px){
    .card{
        margin-top:2rem;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(5,1fr);
    }

    .container{
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}

