.templateprojects {
  padding-top: 2rem;
}
.templateprojects h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}
.images {
  width: 100%;
  min-height: 80px;
  margin: auto;
  display: block;
  box-shadow: var(--lightShadow);
  border-radius: 20px;
}
.img-container{
  margin: 0 2rem 0 2rem;
}
.article {
  display: grid;
  margin: 0 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.descriptionProjects{
    padding-top: 2rem;
}
.descriptionProjects p{
    padding-top: 1rem;
}
.contain-button {
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.repository {
  cursor: pointer;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: var(--darkShadow);
}
.repository svg {
  cursor: pointer;
  color: hsl(0, 5%, 9%);
}
.repository:hover{
    background-color: black;
    border:2px solid black;
}
.repository svg path:hover{
    box-shadow: var(--darkShadow);
}
.repository svg:hover{
  color: white;
}
.link {
  cursor: pointer;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-radius:50%;
}
.link svg {
  cursor: pointer;
  color: hsl(215, 79%, 22%);
  
}
.link:hover{
    background-color:hsl(215, 79%, 22%);
    box-shadow: var(--darkShadow);
}
.link svg:hover{
  color: white;
}
/*css del template*/
.container-technology{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 1rem;
  place-content: center;
  place-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  width:100%;
}
.technology-icon{
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
border-radius: 50%;
}
.container:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 8px -0px rgba(0, 0, 0, 0.38);
}
/*
.technology-icon:hover{
  transform: scale(1.03);
  box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38);
}*/
.technology-icon svg{
  height: 120px;
  width: 120px !important;
  border-radius: 70%;
  
}
.texto{
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 1rem;
}
/*media query*/
@media screen and (min-width: 768px) {
   .images{
     width: 80%;
   }
  .container-technology{
    gap: 1rem;
  }
  .article {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .technology {
    margin-top: 2rem;
    grid-column: 1/4;
  }
}

@media screen and (min-width: 992px){
  .images{
    width: 60%;
  }
}

