.templateprojects {
  padding-top: 1.2rem;
}
.templateprojects h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
}
.images{
    min-width: 100%;
    box-shadow: var(--darkShadow);
}
.article{
    margin: 0 0.5rem;
}